<div class="box tabular settings">
<table class="plugin_settings">
  <tr>
    <td>URL</td>
    <td><input type="text" id="settings_url_default" value="<%= settings['url'] %>" name="settings[url]" style="width: 498px" /></td>
  </tr>
  <tr>
    <td colspan="2" id="settings_save_button"></td>
  </tr>
</table>
</div>
